textarea{
width: 1201px;
height: 594px;
background: #CCC;
border: 4px solid black;
}
input[type=text]{
display:block;
width:1201px;
}
input[type="submit"]{
text-align: center;
}
*{
font-family: Segoe UI, Comic Sans MS;
text-align: center;
}